.form-area{
    border: solid;
    max-width: 500px;
    display: block;
    margin: auto;
}
.form-control{
    margin:auto;
    margin-top: 5px;
    width:500px;
}
.allposts{
    font-size: 20px;
    border: solid;
    display: block;
    margin: auto;
    width: 500px;
}