
.text-post{
    margin-top: 15px;
    width: 100%;
}
.upload btns{
    display: inline;
}
.allposts{
    font-size: 20px;
    border: solid;
    display: block;
    margin: auto;
    width: 500px;
}
