.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #5c98a9;
}

.formbg{
  background-color:rgb(243, 218, 225);
  box-shadow: 10px 5px 5px rgb(196, 196, 196);
}

.Wrapper {
  max-width: 100%;
  margin: auto;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
}
 
.Header {  
  background-color: #ffffff;
  opacity: 0.6;
  background-image:  linear-gradient(135deg, rgba(255, 156, 184, 1) 25%, transparent 25%), linear-gradient(225deg, rgba(255, 156, 184, 1) 25%, transparent 25%), linear-gradient(45deg, rgba(255, 156, 184, 1) 25%, transparent 25%), linear-gradient(315deg, rgba(255, 156, 184, 1) 25%, #ffffff 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: 10px 5px 5px rgb(196, 196, 196);
}
 
.Header .Branding {
  margin: auto;
  position: absolute;
}
 
.Logo {
  align-self: center;
  max-height: 150px;
  vertical-align: bottom;
  right: 100000px;
}

a {
  text-decoration: none;
  color: #000;
}

